<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit esse
        deleniti qui debitis alias dicta eligendi animi? Quod provident labore
        repudiandae suscipit numquam distinctio neque sint, fugit est accusamus
        libero?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit esse
        deleniti qui debitis alias dicta eligendi animi? Quod provident labore
        repudiandae suscipit numquam distinctio neque sint, fugit est accusamus
        libero?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit esse
        deleniti qui debitis alias dicta eligendi animi? Quod provident labore
        repudiandae suscipit numquam distinctio neque sint, fugit est accusamus
        libero?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
